<p id="notice"><%= notice %></p>

<h1 class="display-5 fw-bold">Office</h1>
<p class="col-md-8 fs-4">
  <strong>Building:</strong>
  <%= @office.building %>
  <br>
  <strong>Floor:</strong>
  <%= @office.floor %>
  <br>
  <strong>Room:</strong>
  <%= @office.room %>
</p>

<%= link_to 'Edit', edit_office_path(@office), class:"btn btn-secondary" %>
<%= link_to 'Back', offices_path, class:"btn btn-secondary" %>
