<%= form_with(model: section) do |form| %>
  <% if section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
        <% section.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br>
  <div class="field form-group, mb-3">
    <% form.label :year %>
    <%= form.text_field :year, class:"form-control", placeholder: "Year" %>
  </div>

  <div class="field form-group, mb-3">
    <% form.label :semester %>
    <%= form.text_field :semester, class:"form-control", placeholder: "Semester"%>
  </div>

  <div class="field form-check, mb-3">
    <%= form.label :course_id %>
    <br>
    <%= form.collection_check_boxes :course_id, Course.all, :id, :prefix_num, class:"form-check-label" %>
  </div>
<br>
  <div class="actions">
    <%= form.submit class: 'btn btn-secondary' %>
  </div>
<% end %>
