<p id="notice"><%= notice %></p>

<h1>Sections</h1>

<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Year</th>
      <th>Semester</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.year %></td>
        <td><%= section.semester %></td>
        <td><%= section.course_id %></td>
        <td><%= link_to 'Show', section, class:"btn btn-secondary" %></td>
        <td><%= link_to 'Edit', edit_section_path(section), class:"btn btn-secondary" %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-secondary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_section_path, class:"btn btn-secondary" %>
