<h1 class="display-5 fw-bold">Section</h1>
<p class="col-md-8 fs-4">
  <strong>Year:</strong>
  <%= @section.year %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @section.semester %>
</p>

<p>
  <strong>Course:</strong>
  <%= @section.course.prefix_num %>
</p>

<%= link_to 'Edit', edit_section_path(@section), class:"btn btn-secondary" %>
<br><br>
<%= link_to 'Back', sections_path, class:"btn btn-secondary" %>
