<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @section.year %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @section.Semester %>
</p>

<%= link_to 'Edit', edit_section_path(@section), class:"btn btn-secondary"  %> |
<%= link_to 'Back', sections_path, class:"btn btn-secondary"  %>
