<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @section.year %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @section.semester %>
</p>

<p>
  <strong>Course:</strong>
  <%= @section.course_id %>
</p>

<%= link_to 'Edit', edit_section_path(@section), class:"btn btn-secondary" %>
<br><br>
<%= link_to 'Back', sections_path, class:"btn btn-secondary" %>
