<%= form_with(model: teacher) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
        <% teacher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :nine_hundred %>
    <%= form.text_field :nine_hundred, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class:"form-control" %>
  </div>

  <div class="field dropdown-menu, mb-3">
    <%= form.label :office_id %>
    <br>
    <%= form.collection_select :office_id, Office.all, :id, (:building_floor_room), class:"btn btn-secondary dropdown-toggle" %>
  </div>

  <br>
  <div class="actions">
    <%= form.submit class: 'btn btn-secondary' %>
  </div>
<% end %>
