<p id="notice"><%= notice %></p>

<h1 class="display-5 fw-bold">Teacher</h1>
<p class="col-md-8 fs-4">
  <strong>Name:</strong>
  <%= @teacher.first_name %>
  <%= @teacher.last_name %>
  <br>
  <strong>900 Number:</strong>
  <%= @teacher.nine_hundred %>
  <br>
  <strong>Email:</strong>
  <%= @teacher.email %>
  <br>
  <strong>Office:</strong>
  <%= @teacher.office_id %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher), class:"btn btn-secondary" %>
<%= link_to 'Back', teachers_path, class:"btn btn-secondary" %>
