<p>
  <strong>Prefix:</strong>
  <%= @course.prefix %>
</p>

<p>
  <strong>Number:</strong>
  <%= @course.num %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<%= link_to 'Edit', edit_course_path(@course), class:"btn btn-secondary"  %>
<br><br>
<%= link_to 'Back', courses_path, class:"btn btn-secondary"  %>
