<p id="notice"><%= notice %></p>

<p>
  <strong>Prefix:</strong>
  <%= @course.prefix %>
</p>

<p>
  <strong>Num:</strong>
  <%= @course.num %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
